body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: gray
}

header {
    height: 75px;
    background-color: #0680E0;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
    justify-content: space-between;
}

.lista {
    display: flex;
}

.lista li {
    list-style: none;
    cursor: pointer;
    margin-right: 2rem;
}

.lista li:hover {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.cara {
    border-radius: 500px;
    height: 200px;
}

.bienvenido {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 75px);
    background-color: #303030;
    color: white;
}

.caja-central {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}

.caja-cara {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #424242;
}

.caja-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #E5E8EA;
    color: #303030;
    padding: 10px;
}

.caja-presentacion h1, .caja-presentacion p {
    margin-top: 0px;
}

.sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E8EA;
    padding-left: 20%;
    padding-right: 20%;
}

.aptitudes {
    width: 50%;
}

.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech {
    height: 90px;
    width: 90px;
}

.mis-proyectos {
    background-color: #303030;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
}

.proyectos {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 60%;
}

.card a, footer a {
    color: white;
}

a:hover {
    color: #1392E7;
}

.red-social{
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

footer {
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
}

.contacto {
    width: 15%;
    display: flex;
    justify-content: center;
}

.menu-icon {
    display: none;  /* ocultamos el icono cuando estamos en vision escritorio*/
}

@media(min-width: 1100px) { /* soluciona problema de nav al cerrarlo en modo mobile*/
    nav {
        display: block !important;
    } 
}

@media (max-width: 1100px) {
    .caja-central {
        width: 90%;
        height: 70%;
        flex-direction: column;
    }

    .caja-cara {
        width: 100%;
        height: 50%;
    }

    .caja-presentacion {
        width: 100%;
        height: 50%;
    }

    .aptitudes {
        width: auto;
    }

    .sobre-mi {
        height: auto;
        padding: 0 10px 10px 10px;
    }

    .mis-proyectos {
        height: auto;
    }

    .proyectos {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .card {
        width: 80%;
        margin-top: 20px;
    }

    .red-social {
        margin: 0 10px;         /* 0px top y bottom y 10px left y right */
    }

    .menu-icon {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }

    nav {
        position: absolute;
        top: 70px;
        left: 0px;
        background-color: #5cb8ff;
        width: 100%;
        display: none; /* hasta que no toque el boton de menu, el el menu va a estar oculto*/
    }

    nav .lista {
        flex-direction: column; /* hago que los elementos esten uno debajo de otro*/
    }

    .lista li {
        margin-bottom: 0.5rem;
    }
}